<section class="main-container" style="margin-top: 0px;">
    <div class="container">
        <div class="headline">
            <h2>Support</h2>
        </div>
        <div class="row">
            <div class="col-md-12"><p>ProgressSoft's commitment to client service and support ensures that users have the necessary back up to keep their systems running smoothly. This involves providing up-to-date releases on a continuous basis and availing experienced client service personnel to deal with any queries or difficulties encountered.</p>
                <p>Through the Technical Support program, we offer a wide range of support that varies between resolving client problems and upgrading the software.</p>
                <p><strong>Support Availability</strong></p>
                <p>Technical Support is available to all our clients who are enrolled in a Support Agreement with ProgressSoft, or whose software is still under warranty. Our software is offered with three months free-of-charge support commitment from ProgressSoft, starting from the date of the Software License release.</p>
                <p>At the end of the free-of-charge support (warranty) period, clients sign a Support Agreement with ProgressSoft to enjoy the benefits of our support program. This Support Agreement covers all System Updates, which requires a separate deal with ProgressSoft.</p></div>
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">
                    Our support team is readily available to respond to all your inquiries. <a href="http://support.progressoft.com" target="_blank">Contact ProgressSoft Helpdesk now.</a>				</div>
            </div>
            <div class="col-md-12">
                <div class="vertical">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class=""><a href="#vtab1" role="tab" data-toggle="tab"><i class="fa fa-chevron-circle-right pr-10"></i> Helpdesk</a></li>
                        <li class=""><a href="#vtab2" role="tab" data-toggle="tab"><i class="fa fa-chevron-circle-right pr-10"></i> Support Severity Levels</a></li>
                        <li class=""><a href="#vtab3" role="tab" data-toggle="tab"><i class="fa fa-chevron-circle-right pr-10"></i> System Update</a></li>
                        <li class=""><a href="#vtab4" role="tab" data-toggle="tab"><i class="fa fa-chevron-circle-right pr-10"></i> System Upgrade</a></li>
                        <li class="active"><a href="#vtab5" role="tab" data-toggle="tab"><i class="fa fa-chevron-circle-right pr-10"></i> Contacting Technical Support</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade" id="vtab1">
                            <p>The helpdesk listens to reports of problems and questions about ProgressSoft Systems. Helpdesk staff diagnoses reported problems and recognizes whether they are symptoms of larger system problems or are isolated problems and need a single fix only. In response to user questions, our staff provides quick, on-the-spot guidance that enables users to be more confident and productive with the supported system. By tracking and analyzing calls of the helpdesk, the support staff determines areas that need improvement, such as increased training for users or equipment and software that need to be upgraded or replaced.</p>                        </div>
                        <div class="tab-pane fade" id="vtab2">
                            <p>Support requests are prioritized to provide the support team with the sense of severity they need to deal with. For instance, if a user has a malfunction that has caused his/her application to crash, a high priority support request may have to be issued since the user may not be able to do other work until the application starts running correctly. These severity levels lead to service level commitments with our clients, allowing us to be on-site to resolve high severities within three hours and to operate in a relaxed mode for low priorities.</p>                        </div>
                        <div class="tab-pane fade" id="vtab3">
                            <p>ProgressSoft provides the customer with enhancements on the system (point releases) all through the warranty period and through the Support Agreement periods. Major changes and modifications are dealt with as per the System Upgrade Clause.</p>                        </div>
                        <div class="tab-pane fade" id="vtab4">
                            <p>Major changes on the software that include exporting it to a new platform, operating system, used database, Graphical User Interface (GUI), communication protocol and/or supported languages are considered to be system upgrades. These also include integration with new hardware, new software or software upgrades. The customer will be requested to pay for the charges of such an upgrade.</p>
                            <p>Integration with other hardware, operating system, relational database, GUI and communication protocol will be dealt with on a case-to-case basis upon request.</p>                        </div>
                        <div class="tab-pane fade in  active" id="vtab5">
                            <p>Support is offered through Telephone, Fax, Email, FTP, FAQ and site visits. Visits of ProgressSoft technical support personnel at anytime can be arranged upon request.</p>
                            <p>If you need assistance with any of our solutions, contact your authorized reseller, or contact the Technical Support staff at +962 6 5623000. Please have the following information available:</p>
                            <ul>
                                <li>The software version you are using.</li>
                                <li>The versions of the server and client operating systems you are using.</li>
                                <li>The type of hardware you are using, including model numbers.</li>
                                <li>A description of what you were doing when the problem occurred, and any error numbers or error messages logged at the server or returned to the client.</li>
                            </ul>                        </div>
                    </div>
                </div>
                <!-- tabs end -->
            </div>
        </div>
    </div>
</section>